* { margin: 0; padding: 0; box-sizing: border-box; }
body {
  font-family: 'Arial', sans-serif;
  background: #17171E;
  color: #fff;
  overflow-x: hidden;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
}


h1{
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 60px 20px;
    flex-wrap: wrap;
  }
  
  .card {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 30px 20px;
    width: 280px;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 20px rgba(114, 9, 183, 0.2);
    transition: 0.3s;
  }
  
  .card:hover {
    transform: translateY(-10px);
  }
  
  .card h3 {
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  .card p {
    font-size: 14px;
    margin-bottom: 20px;
    color: #ccc;
  }
  
  .card button {
    
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    background: linear-gradient(135deg, #8a2be2, #00bfff);
    border: none;
    color: #fff;
    
  }